*debug1
*.1p1
*.dcp
*.dcu
*.exe
*.vlb
*.tvsconfig
*.identcache
*.local
*.dproj.local
*.res
*.ini
*.groupproj
**/Android64
**/Android32
**/temp
**/debug
**/Win32
**/__history
**/__recovery
**/.svn
**/branches
