
*.1p1
*.dcp
*.dcu
*.exe
*.vlb
*.tvsconfig
*.dpr
*.dproj
*.dfm
*.identcache
*.local
*.dproj.local
*.res
*.ini
**/temp
**/debug
**/Win32
**/__history
**/__recovery
@DelphiProgramming4Beginners_PTBR_1.1.pdf
